                               @charset "utf-8";
                               *{
                                    margin: 0; padding:0;
                                    font-size: 100%;
                                    border-collapse:initial;
                                    
                                }
                                
                                body{
                                    margin: 50px;
                                    color: #000;
                                    font: 16 px Tahoma, Arial, sans-serif;
                                    background: #fff;  
                                    background-color: rgb(200, 200,255);
                                }

                                a{
                                    text-decoration: none;
                                    color: #000;
                                }                          
                                
                                
                                h1{
                                text-align: center;
                                font-size: 150%;
                                margin-bottom: 30px;
                                }


                                nav ul{
                                    display: table;
                                    height: 50px;
                                    width:15%; 
                                    table-layout: fixed;  
                                    list-style: none;  
                                    margin-bottom: 10px;  
                                    float: left;  
                                    margin-right: 20px;
                        
                                }
                                nav ul li{
                                    display: table-row;
                                    text-align: center;
                                   
                                   
                                }
                                nav  a{
                                    text-decoration: none;
                                    color: black;
                                    display: block;
                                    height: 100%;
                                    width:100%;
                                    background: rgb(200, 200,255);
                                    font-size: 120%;
                                    border:1px solid black;
                                    border-collapse:collapse;
                                    
                                }
                                nav  a:hover, #authors>a:hover{
                                    background-color: white;
                                    color:rgb(120, 120,255);
                                    transition: .4s all ease; 
                                }


                                                               
                                
                                
                                .wrapper{
                                display: table;
                                margin-left: 70px;
                                
                                }
                                
                                
                                .col-sm-4{
                                 
                                display:table-cell;
                                table-layout:fixed;
                                float:left;
                                width:200px;
                                height:350px;
                                background-color: rgb(200, 200,255);
                                /*border: 1px solid white;*/
                                border:1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                }


                                .position{
                                    width:100%;
                                    height: 50px;
                                    margin: auto;
                                    border:1px solid black;
                                }

                                #submit{
                                    background: rgb(200, 200,255);

                                    color: black;


                                }


                                #submit:hover{
                                    background-color: white;
                                    color:rgb(120, 120,255);

                                        border: 1px solid #eee;

                                       /* border-radius: 20px;*/
                                }

                                #f{
                                float:right;
                                }


                            
                                #sel{
                                float: right;
                                }


                                #sel>p{
                                float:left;
                                }


                                #sel>select{
                                /*margin-left: 20px;*/
                                float:right;
                                }


        
                                #pic{
                                width:180px;
                                height:250px;
                                
                                }



                                #authors{
                                    
                                    width:15%;
                                    clear: both;
                                    float: left;
                                }


                                #authors>a{
                                    text-align: center;
                                    text-decoration: none;
                                    color: black;
                                    display: block;
                                    height: 100%;
                                    width:100%;
                                    font-size: 120%;
                                    border:1px solid black;
                                    margin:0, auto;
                                }


                                
                                